<% provide(:title, "Attractions") %>
<h1>Attractions</h1>
<h2>Click on a link below to find out more about the attractions available in Garrett County.</h2>
<h4><a href="http://dnr2.maryland.gov/publiclands/Pages/western/swallowfalls.aspx">Swallow Falls State Park</a></h4>
<h4><a href="http://dnr2.maryland.gov/publiclands/Pages/western/deepcreek.aspx">Deep Creek Lake State Park</a></h4>
<h4><a href="http://www.oaklandmd.com/autumn-glory-festival.html">Autumn Glory Festival</a></h4>
<h4><a href="http://deepcreek.com/">Deep Creek Lake</a></h4>
<h4><a href="http://dnr2.maryland.gov/publiclands/Pages/western/newgermany.aspx">New Germany State Park</a></h4>
<h4><a href="http://dnr2.maryland.gov/publiclands/Pages/western/herrington.aspx">Herrington Manor State Park</a></h4>
<h4><a href="http://www.fireflyfarms.com/">Firefly Farms Creamery and Market</a></h4>
<h4><a href="http://www.adventuresportscenter.com/">Adventure Sports Center</a></h4>


