
<% provide(:title, "History") %>
<h1>History</h1>

<h3>1700's</h3>
<p>
    Before Garrett County existed, the area was mostly wilderness and was settled by Native American tribes, who migrated to the area in the summertime in order to hunt and returned to their homes in the winter. 
    In 1753, Nemacolin's Path, which connected Cumberland, MD to Brownsville, PA was constructed in order to transport freight, which was the main method of commerce in those days.
    The path was constructed by following old Native American trails, and was named after the Nemacolin tribe, who helped Thomas Cresap to mark and improve the trail during this time.  This road gave access to 
    transport freight from the Potomac River to the Mononghelia River.    
</p>

<p>
    During the French and Indian War, a more reliable road was needed in order to transport troops from Fort Cumberland to Fort Duquesne, which led to the creation of Braddock Road.  This road was the first improved road to cross the Appalachian Mountains.  By today's standards, it would be very subpar, as "improved"
    essentially meant removing rocks and trees from the road in order to allow easier travel.  During their march, they passed through what is now Grantsville, MD, which was at that time a settlement known as Little Crossings. It was here that Braddock
    and George Washington forded the Youghiogheny River. Although the battle ended in defeat and ultimately the loss of Braddock's life, the area was part of a very important transport route during the battle.
</p>

<h3>1800's-Present</h3>
<p>
    In 1809, under the administration of Thomas Jefferson, Congress passed legislation which approved the funding for the construction of the National Road.  This road would replace Braddocks Road, and it ran from Cumberland, MD
    to Wheeling, WV.  The National Road was the first federally funded highway in the United States and it served as one of the most important east-west routes in the nation, bringing freight, mail, and travellers to the area.  During this time,
    Many establishments were constructed along the highway to accomodate the travellers, including the Casselman Inn and Tomlinson's Stone House, which still stand in Granstville.
</p>

<p>
    The National Road was widely used throughout the nineteenth century, until horse-drawn travel began to be replaced by the railroad, and during this time traffic declined.  Although the highway was being used less, the railroad
    allowed people to be able to travel and settle in new places unlike any other time before then.  Lumber and coal industries began to pop up all over the area, which led to the establishment of many of the towns that make up 
    the county to this day, including Oakland, MD.,  Granstville, MD., and many other places.
</p>

<h4>County Incorporation</h4>
<p>
    Created from the western triangular section of Allegany County, MD in 1872, Garrett County became the last Maryland county to be formed.  The name of the county comes from the president of B&O Railroad, who was named John Work Garrett.
    The reason for naming the county after this man was because of the substantial economic growth that the railroad brought to the county.  
    During this era, the economy was booming in the county and many resorts and hotels were built by the B&O Railroad in order to attract people, including the Oakland Hotel and the Deer Park Hotel, which attracted the wealthy 
    and elite alike.
</p>
<p> 
    With the advent of the automobile and other forms of faster transportation, the popularity of the railroad began to decline in the early part of the twentieth century, which led to a dramatic decline in tourism, as well as new 
    families coming to settle in the area.  Therefore, for a time the county did not experience much growth, and remained a very rural area, even to this day.  It was the creation of Deep Creek Lake, which is located in the southern part
    of Garrett County, which eventually helped to bring the tourism industry back.
    </p>
    
<h4>Deep Creek Lake</h4>
<p>
    Originally created in order to provide hydroelectric energy to the surrounding areas, Deep Creek Lake started to come to fruition.  Initially only a small stream which ran through the area, it would eventually become the largest
    freshwater lake in the entire state of Maryland. Planning intially began for the project as early at 1908, but it was actually the 1920's when work actually started to begin on the project.  In 1921, the Youghiogheny Hydro-Electric        Corporation began to construct dams across Deep Creek and the Youghiogheny River.  This was to prepare for the water that would be used to flood the area.Corporation
    The next step in the process was to acquire the land that would be needed in order to create the lake.  This was handled by the Eastern Land Corporation, who purchased approximately 8,000 acres for the project, although only 4500 acres      were actually flooded and used.  The reason for the acquisition of the other properties was due to many roads being cut off due to rising water, which would make the properties inaccessible.  Many of the buildings were moved to higher ground
    whenever possible.
    </p>
    
    <p>
        Over 1,000 people were employed to bring the project to fruition, and the end result was outstanding. Not only was Deep Creek Lake constructed, but there were several other projects that happened as a result.  The B&O
        Railroad was expanded from Oakland to the dam and the power sites, nearly fifteen miles of highway was relocated, two steel bridges were relocated, and a quarry was opened to prepare stone for the building of the Deep Creek Dam
        and the roadways. Both of these bridges have now been replaced with concrete bridges, but it is undeniable the impact that the lake has had on the county in terms of tourism and sheer beauty.
    </p>
    
    
    
    

    
   