<% provide(:title, "Posts") %>
<% if logged_in? %>

<h2>Tweet and follow your friends!</h2>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <section class="micropost_form">
      <%= render 'shared/micropost_form' %>
    </section>
  </aside>
  <div class = "col-md-8">
    <h3>Tweets</h3>
    <%= render 'shared/feed' %>
  </div>
</div>
<% else %>
  <h2>We would like to hear about your experiences in Garrett County.  Click the link below to sign up for an account to be able to share.</h2>
  
  <%= link_to "Sign up now!", signup_path, class: "btn btn-primary" %>
<% end %>