<li id="message-<%= message.id %>">
  <%= link_to gravatar_for(message.user, size: 50), message.user %>
  <span class="user"><%= link_to message.user.name, message.user %></span>
  <span class="content">
    <%= message.description %>
  </span>
  
  <span class="timestamp">
    Posted <%= time_ago_in_words(message.created_at) %> ago.
    <% if current_user?(message.user) %>
      <%= link_to "delete", message, method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
  </span>
  <br><br><br>
</li>