
<div class="message_form">

    
    <%= form_for @message do |f| %>
    <%= render 'shared/error_messages', object: f.object %>      
      <%= f.label :message_title %>
      <%= f.text_field :title, class: 'form-control' %>
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>
      <%= f.submit "Create message", class: "btn btn-primary" %>
      
    <% end %>

</div>