<% provide(:title, "Forum") %>

<h3> Welcome to the forum! Please feel free to share your Garrett County experiences with others here!</h3>
<% if !logged_in? %>
      <h4>You must sign up or sign in to post or view messages.  Click on the link below to sign up or log in via the navigation bar.</h4>
      <%= link_to "Sign up now!", signup_path, class: "btn btn-primary" %>
      <% end %>
    <% if logged_in? &&  @messages.count ==  0 %>
      <%= link_to "New Message", new_message_path, class: "btn btn-primary" %>
    <% elsif logged_in? && @messages.count > 0 %> 
      <% @messages.each do |message| %>
	<div class="col-md-4">
		<div class="message">
			<h2 class="message-title"><%= message.title %></h2>
			<%= link_to "View Message", message, class: "btn btn-default" %>
			<%= link_to "New Message", new_message_path, class: "btn btn-default" %>
		</div>
	</div>
<% end %>
   
<% end %>

