<% provide(:title, "Edit Comments") %>

<h3>Edit Comments</h3>
<%= form_for [@message, @comment] do |f| %>
  <%= f.label :comment %>
  <%= f.text_area :content, class: 'form-control' %>
  <%= f.submit "Submit", class: 'btn btn-primary' %>
<% end %>