<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav id = "nav">
      <ul class="nav navbar-nav navbar-right">
      <ul id="navigation">
        
        <li><a href="#" class="first">Navigation</a>
          <ul>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "History", history_path %></li>
            <li><%= link_to "Famous Visitors", people_path %></li>
            <li><%= link_to "Attractions", attractions_path %></li>
            <li><%= link_to "Forum", messages_path %></li>
          </ul>
          <% if logged_in? %>
              <li><%= link_to "Users", users_path %></li>
              <li><%= link_to "Tweets", tweet_path %></li>
              <li><a href="#" class="second">Account</a>
                <ul>
                  <li><%= link_to "Profile", current_user %></li>
                  <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "Log out", logout_path %>
                  </li>
                  </li>
                  </ul>
                </ul>
              </li>
              <% else %>
                <li><%= link_to "Log in", login_path %></li>
              <% end %>
        </li>
      </ul>
      
    </nav>
  </div>
</header>